.first-container {
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    font-family: inherit;
    box-shadow: 0px 0px 5px 1px grey;
}
.header {
    text-align: center;
}

.header span {
    color: #5dba2f;
    font-size: 36px;
}

.content {
    display: flex;
}

.content-img {
    width: 50%;
}

.info {
    width: 50%;
}

.info ul {
    list-style-type: none;
}

.info li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.info img {
    height: 30px;
    margin-right: 10px;
}

button {
    padding: 10px;
    // width: 125px;
    border: 1px solid #5dba2f;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 48px;
    margin-bottom: 20px;
}

button:hover {
    background: #5dba2f;
    color: #fff;
}